<div id="my-id" class="uk-offcanvas">
		<div class="uk-offcanvas-bar uk-offcanvas-bar-show">
			<div class="uk-panel">
				<ul class="uk-nav">
					{% include menu.html %}
				</ul>
			</div>
		</div>
	</div>
<header id="header">
	<div class="uk-container uk-container-center">
		<a href="/" class="uk-navbar-brand uk-hidden-small">{{site.title}}</a>
		<nav class="uk-navbar uk-navbar-attached">
			<ul class="uk-navbar-nav uk-hidden-small">
				{% include menu.html %}
			</ul>
			<a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
			<a class="uk-navbar-brand uk-visible-small" href="/">{{site.title}}</a>
		</nav>
	</div>
</header>
